* {
  margin: 0;
  padding: 0;
  font-family: "rubik", sans-serif;
}

body {
  color: #444;
  line-height: 1;
}

nav {
  font-size: 20px;
  font-weight: 700px;
  display: flex;
  justify-content: space-between;
}

h1 {
  font-size: 52px;
  margin-bottom: 32px;
}

p {
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 48px;
}

.btn:link,
.btn:visited {
  font-size: 20px;
  font-weight: 600;
  background-color: #e67e22;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 16px 32px;
  border-radius: 9px;
}

h2 {
  font-size: 42px;
  margin-bottom: 48px;
}

section {
  padding: 96px 0;
}
