/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", ans-serif;
  color: #343a40;
  line-height: 1;
}

img {
  height: 200px;
  border-radius: 8px;
  transform: scale(1.5);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
}

.carousel {
  width: 800px;
  margin: 100px auto;
  border-radius: 8px;
  /* padding: 32px;
  padding-left: 86px;
  padding-right: 45px; */
  padding: 32px 48px 32px 86px;
  background-color: #087f5b;
  display: flex;
  /* align-items: center; */
  gap: 86px;
  position: relative;
}

.testimonial-text {
  font-size: 18px;
  line-height: 1.4;
  font-weight: 500;
  margin-bottom: 32px;
  color: #e6fcf5;
}
.testimonial-author {
  font-size: 14px;
  margin-bottom: 4px;
  color: #c3fae8;
}
.testimonial-job {
  font-size: 12px;
  color: #c3fae8;
}

/* CONTROLS */

.btn {
  background-color: #fff;
  border: none;
  height: 40px;
  width: 40px;
  position: absolute;
  border-radius: 50%;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.btn--left {
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
}

.btn--right {
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);
}

.btn-icon {
  height: 24px;
  width: 24px;
  stroke: #087f5b;
}

.dots {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 32px);
  bottom: 0;
  display: flex;
  gap: 12px;
}

.dot {
  height: 12px;
  width: 12px;
  background-color: #fff;
  border: 2px solid #087f5b;
  border-radius: 50%;
  cursor: pointer;
}

.dot--fill {
  background-color: #087f5b;
}
